{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="col-4">
   <div class="card text-bg-info mb-3" style="max-width: 24rem;">
     <div class="card-header">ai4lam</div>
     <div class="card-body">
       <h5 class="card-title">Metadata Working Group</h5>
       <img src="images/ai4lam-hex.png" class="img-fluid pull-right" alt="ai4lam Logo">
       <p class="card-text">
         The <a href="https://sites.google.com/view/ai4lam" style="color: black">ai4lam</a> Metadata Working Group is actively working on 
         use-cases and development of <a href="https://github.com/folio-labs/edge-ai" style="color: black">edge-ai</a>
         &amp; <a href="https://github.com/folio-labs/ai-workflows" style="color: black">ai-workflows</a>.  
       </p>
       <p class="card-text">
         We usually meet at 8am Pacific/11am Eastern/4pm UK on the second Tuesday of every month.
         Our next meeting is Tuesday, November 12th at the following 
         <a href="https://stanford.zoom.us/j/91421044393?pwd=L0VLbnQ0WlE4SDV0MDY5SUhTQnVydz09" style="color: black">Zoom</a>
         link. Please attend if you're interested in this work! 
     </div>
   </div>
  </div>
  <div class="col">
   <h2>Lessons</h2> 
   <ul class="fs-2"> 
     <li>Learning from experimenting</li>
     <li>Iterative development across contexts and system domains</li>
   </ul>
   <h1 class="text-center text-success" style="font-size: 6em;">Thank-you!</h1>
  </div>
</div>
{% endblock %}
