{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="col-5">
   <h3>FOLIO Function-Calling</h3>
   <p>
     ChatGPT's <a href="https://platform.openai.com/docs/guides/function-calling">function calling</a> allows
     you to define function definitions that the models can use to interact with your API.
   </p>
   <p>
     Here is an example <a href="https://chatgpt.com/share/67127c34-5a00-800e-9a8f-34e322051719">chat</a> using
     Invoice Storage raw RAML at <a href="https://raw.githubusercontent.com/folio-org/mod-inventory-storage/refs/heads/master/ramls/instance-storage.raml">instance-storage.raml</a>.
   </p>
  </div>
  <div class="col">
   <h3>Dynamic DAGs</h3>
   <p>
     An intriguing possibility that is possible with the current <a href="https://github.com/folio-labs/edge-ai">edge-ai</a>
     and the Airflow-based <a href="https://github.com/folio-labs/ai-workflows">AI Workflows</a> combination is to generate
     dynamic DAGs based on the user or system prompts.
   </p>
  </div>
</div>
{% endblock %}
