{% extends "base.html" %}


{% block main %}
<div class="row">
  <div class="col-3">
   <h3>Topics</h3>
   <ul class="list-group">
   {% for page in pages[1:] %}
    <li class="list-group-item bg-white"><a href="{{ page.url }}">{{ page.title }}</a></li>
   {% endfor %}
   </ul>
  </div>
  <div class="col">
   <h2>Welcome!</h2>
   <p>
      This <a href="https://jermnelson.github.io/ai4libraries-2024/">presentation</a> demonstrates a proof-of-concept 
      FOLIO backend module called <a href="https://github.com/folio-labs/edge-ai/">edge-ai</a> that uses 
      Large Language Models (LLMs) to automate the creation of FOLIO JSON records from textual prompts and uploaded 
      book images.
   </p>
   <div class="alert alert-warning" role="alert">
    <strong>Disclaimer:</strong> <a href="https://chatgpt.com/">ChatGPT</a> and <a href="https://claude.ai">Claude</a>
    LLMs were used in the preparation and copy-editing of this presentation.
   </div>
    
  </div>
  <div class="col">
    <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">WOLFcon 2024 in London</div>
    <div class="card-body">
      <h5 class="card-title">23 September 2024</h5>
      <p class="card-text">
       From an all-day pre-conference work shop for 
       <a href="https://openlibraryfoundation.org/about/wolfcon/upcoming/">WOLFcon</a>, 
       the topics  <a href="{{ pages[2].url }}">{{ pages[2].title }}</a> and 
       <a href="{{ pages[3].url }}">{{ pages[3].title }}</a>, along with 
       <a href="{{ pages[3].url }}">first example</a> came from this 
       <a href="https://sul-dlss-labs.github.io/wolfcon-2024-ai-workshop/">workshop</a>.
      </p>
      <p class="card-text">
       Source code, markdown, and html available at <a href="https://github.com/sul-dlss-labs/wolfcon-2024-ai-workshop">
       https://github.com/sul-dlss-labs/wolfcon-2024-ai-workshop</a>.
      </p>
  </div>
</div>   
  </div>
</div>
{% endblock %}
