{% extends "base.html" %}


{% block main %}
<div class="row">
  <div class="col-3">
   <h3>Topics</h3>
   <ul class="list-group">
   {% for page in pages[1:] %}
    <li class="list-group-item bg-white"><a href="{{ page.url }}">{{ page.title }}</a></li>
   {% endfor %}
   </ul>
  </div>
  <div class="col">
   <h2>Welcome!</h2>
   <p>
      This presentation will demonstrate a proof-of-concept back-end 
      module called <a href="https://github.com/folio-labs/edge-ai/">"edge-ai"</a> that 
      uses Large Language Models (LLMs) to automate the creation of FOLIO 
      JSON records from textual prompts and uploaded images of books.
   </p>
  </div>
  <div class="col">
    <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">WOLFcon 2024 in London</div>
    <div class="card-body">
      <h5 class="card-title">23 September 2024</h5>
      <p class="card-text">
       An all-day pre-conference work shop for <a href="https://openlibraryfoundation.org/about/wolfcon/upcoming/">WOLFcon</a>,
       the topics <a href="{{ pages[2].url }}">{{ pages[2].title }}</a> and <a href="{{ pages[3].url }}">{{ pages[3].title }}</a>       topics along with <a href="{{ pages[3].url }}">first example</a> came from this 
       <a href="https://sul-dlss-labs.github.io/wolfcon-2024-ai-workshop/">workshop</a>. 
      </p>
      <p class="card-text">
       Upon reflecting on the experience, 
       two new research approaches for edge-ai will be discussed today at 
       <a href="{{ pages[6].url }}">{{ pages[6].title }}</a> and <a href="{{ pages[7].url }}">{{ pages[7].title }}</a>.
      </p>
    <p class="card-text">
     Source code, markdown, and html available at <a href="https://github.com/sul-dlss-labs/wolfcon-2024-ai-workshop">
        https://github.com/sul-dlss-labs/wolfcon-2024-ai-workshop</a>.
    </p>
  </div>
</div>   
  </div>
</div>
{% endblock %}
