{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="col">
   <h3>FOLIO</h3>
   <ul>
    <li><a href="https://folio.org/">FOLIO Home-page</a></li>
    <li><a href="https://dev.folio.org/reference/api/">FOLIO API Documentation</a></li>
   </ul>
  </div>
  <div class="col">
   <h3>Edge-AI &amp; AI Workflows</h3>
   <ul>
    <li><a href="https://github.com/folio-labs/ai-workflows/">AI Workflows Github Repository</a></li>
    <li><a href="https://github.com/folio-labs/edge-ai/">Edge-AI Github Repository</a></li>
   </ul>
  </div>
</div>
{% endblock %}
