{% extends "base.html" %}

{% block main %}
<div class="row">
  <div class="col">
   <h3>FOLIO</h3>
   <ul>
    <li><a href="https://folio.org/">FOLIO Home-page</a></li>
    <li><a href="https://dev.folio.org/reference/api/">FOLIO API Documentation</a></li>
    <li><a href="https://folio-org.atlassian.net/wiki/spaces/PLATFORM/pages/193134643/Folio+Eureka+Platform+Overview">Eureka Platform Overview</a></li>
    <li><a href="https://github.com/folio-org/okapi">Okapi Github Repository</a></li>
   </ul>
  </div>
  <div class="col">
   <h3>Edge-AI &amp; AI Workflows</h3>
   <ul>
    <li><a href="https://github.com/folio-labs/ai-workflows/">AI Workflows Github Repository</a></li>
    <li><a href="https://github.com/folio-labs/edge-ai/">Edge-AI Github Repository</a></li>
   </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>AI &amp; Large Language Models (LLMs)</h3>
    <ul>
     <li><a href="https://chatgpt.com/">ChatGPT</a></li>
     <li><a href="https://claude.ai">Claude</a></li>
     <li><a href="https://www.gstatic.com/gumdrop/sustainability/google-2024-environmental-report.pdf">Google Environmental Report 2024</a></li>
     <li><a href="https://arxiv.org/abs/2310.10383">Privacy in Large Language Models: Attacks, Defenses and Future Directions</a>
</li>
     <li><a href="https://hai.stanford.edu/news/how-much-research-being-written-large-language-models">How Much Research Is Being Written by Large Language Models?</a></li>
     <li><a href="https://techcommunity.microsoft.com/t5/azure-architecture-blog/reducing-the-environmental-impact-of-generative-ai-a-guide-for/">Reducing the Environmental Impact of Generative AI: a Guide for Practitioners</a></li>
     <li><a href="https://bair.berkeley.edu/blog/2024/02/18/compound-ai-systems/">The Shift from Models 
    to Compound AI Systems</a></li>

    </ul>
  </div>
  <div class="col">
    <h3>Software</h3>
    <ul>
      <li><a href="https://apache.airflow.org/">Apache Airflow</a></li>
      <li><a href="https://dspy-docs.vercel.app/intro/">DSPy</a></li>
    </ul>
  </div>
</div>
{% endblock %}
