{% extends "base.html" %}


{% block main %}
<div class="row">
 <div class="col">
  <h2>Image Upload</h2>
  <p>
    Similar to the previous example but instead of a textual prompt, we leverage a 
    multi-modal large language model like ChatGPT 4o to upload a book cover and 
    generate a FOLIO Instance JSON record and then call the same Airflow DAG to 
    enhance and add the Instance to FOLIO.
  </p>
  <div class="bg-white text-dark border border-primary-subtle border-2 rounded p-2">
    <div class="mb-3">
     <label for="edge-ai-url" class="form-label ">Edge AI URI:</label>
     <input type="text" class="form-control" id="edge-ai-url" value="http://localhost:8000/inventory/instance/generate"></input>
    </div>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="book-cover-upload">
      <button class="btn btn-outline-secondary" type="button" py-click="upload_image">Upload</button>
    </div>
  </div>
 </div>
</div>
{% endblock %}

{% block more_js %}
<script type="module" src="https://pyscript.net/releases/2024.10.1/core.js"></script>
<script>
  from js import document 


  async def upload_image(event):
      edge_ai_url = document.getElementById("edge-ai-url")

      book_cover_upload = document.getElementById("book-cover-upload")

  
</script>
{% endblock %}
